<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.hqyj.entity.Score">
    <id column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="study_year" jdbcType="VARCHAR" property="studyYear" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="score_num" jdbcType="DOUBLE" property="scoreNum" />
  </resultMap>
  <sql id="Base_Column_List">
    student_number, study_year, student_name, course_id, course_name, score_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where student_number = #{studentNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from score
    where student_number = #{studentNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hqyj.entity.Score">
    insert into score (student_number, study_year, student_name, 
      course_id, course_name, score_num
      )
    values (#{studentNumber,jdbcType=VARCHAR}, #{studyYear,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, 
      #{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{scoreNum,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqyj.entity.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="studyYear != null">
        study_year,
      </if>
      <if test="studentName != null">
        student_name,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="scoreNum != null">
        score_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="studyYear != null">
        #{studyYear,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null">
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="scoreNum != null">
        #{scoreNum,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqyj.entity.Score">
    update score
    <set>
      <if test="studyYear != null">
        study_year = #{studyYear,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null">
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="scoreNum != null">
        score_num = #{scoreNum,jdbcType=DOUBLE},
      </if>
    </set>
    where student_number = #{studentNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqyj.entity.Score">
    update score
    set study_year = #{studyYear,jdbcType=VARCHAR},
      student_name = #{studentName,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=INTEGER},
      course_name = #{courseName,jdbcType=VARCHAR},
      score_num = #{scoreNum,jdbcType=DOUBLE}
    where student_number = #{studentNumber,jdbcType=VARCHAR}
  </update>
</mapper>